h1, h2, h3, h4 {
    color: midnightblue;
    font-family: "Georgia", serif;
}
h3 {
    margin-bottom: 5px;
}
.box {
  border: 5px solid white;
  background-color: white;
  margin-left: 20em;
  margin-right: 20em;
}

section {
    margin-top: 1rem; 
}

nav {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

/* Customize links */
a:link {
  color: midnightblue;
  text-decoration: none;
}
a:visited {
  color: midnightblue;
  text-decoration: none;
}
a:hover {
  color: orange;
  text-decoration: none;
}
a:active {
  color: orange;
  text-decoration: none;
}

/* Images */
img {
  max-width: 50%;
  height: auto;
}

.container {
    text-align: center;
}

.image-collection figure {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

.image-collection img {
  width: 100%;
  min-width: 0;
  object-fit: cover;
  border-radius: 10px;
}